# Dependencies
/vendor/

# Composer
composer.lock

# PHPUnit
.phpunit.cache/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploaded files
public/assets/uploads/*
!public/assets/uploads/.gitignore
